<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Programa4/src/mx/itesm/A01139626/src/AreaUnderTDistribution.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="mx.itesm.A01139626.src.AreaUnderTDistribution"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Programa4"/>
</launchConfiguration>
