<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Programa 1/src/mx/itesm/a01139626/p1/src/FileLineSorter.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="mx.itesm.a01139626.p1.src.FileLineSorter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Programa 1"/>
</launchConfiguration>
